<div class="iphone-header">
  <h1 class="title">iPhones</h1>
  <button mat-mini-fab style="margin-left: 10px" color="primary">
    <mat-icon (click)="addIphone()">add</mat-icon>
  </button>
</div>

<mat-card
  *ngFor="let iphone of iphones$ | async"
  class="iphone-card mat-elevation-z10"
>
  <mat-card-header class="iphone-card-header">
    <mat-card-title>{{ iphone.name }}</mat-card-title>
  </mat-card-header>
  <div *ngIf="!checkImageUrl(iphone.mainImage)">
    <img
      mat-card-image
      src="./../../../../assets/img-placeholder.jpg"
      style="height: 250px; margin-top: 0px;"
    />
  </div>
  <div *ngIf="checkImageUrl(iphone.mainImage)">
    <img mat-card-image src="{{ iphone.mainImage }}" style="height: 300px" />
  </div>

  <mat-card-content>
    <p><b>Price :</b>{{ iphone.price | currency }}</p>
    <p><b>Color :</b>{{ iphone.color }}</p>
    <p><b>Model :</b>{{ iphone.model }}</p>
    <p><b>Screen Size :</b>{{ iphone.screenSize }}</p>
    <p><b>SKU :</b>{{ iphone.SKU }}</p>
  </mat-card-content>

  <mat-card-actions class="iphone-actions">
    <button mat-mini-fab color="primary">
      <mat-icon (click)="editIphone(iphone)">edit</mat-icon>
    </button>

    <button mat-mini-fab color="warn">
      <mat-icon (click)="deleteIphone(iphone)">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
